version: '3.7'

services:
    mysql:
        image: mysql:latest
        restart: always
        environment:
            MYSQL_DATABASE: $MYSQL_DATABASE_NAME
            MYSQL_ROOT_PASSWORD: $MYSQL_DATABASE_PASSWORD
        command:
            - --character-set-server=utf8mb4
            - --collation-server=utf8mb4_unicode_ci
        ports:
            - '3306:3306'
        volumes:
            - 'mysql_data:/var/lib/mysql'

    postgresql:
        image: postgres:latest
        restart: always
        environment:
            POSTGRES_DB: $POSTGRESQL_DATABASE_NAME
            POSTGRES_USER: $POSTGRESQL_DATABASE_USERNAME
            POSTGRES_PASSWORD: $POSTGRESQL_DATABASE_PASSWORD
        ports:
            - '5432:5432'
        volumes:
            - postgresql_data:/var/lib/postgresql/data
volumes:
    mysql_data:
        driver: local
    postgresql_data:
        driver: local
